*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?q=10&h=200");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.wrapper{
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
    
}
.chat-area header .back-icon{
    font-size: 18px;
    color: #FA45A3;
}
.chat-area header span{
    font-size: 17px;
    font-weight: 500;
    color: #6000F4;
}
.chat-box{
    height: 500px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box::-webkit-scrollbar{
    width: 0px;
}
.chat-box .chat{
    margin: 15px 0;
}
.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0 16px 16px -16px rgb(0 0 0 /10%);
}
.chat-box .outgoing{
    display: flex;
}
.outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
}
.outgoing .details p{
    background: #FFE3FB;
    color: #FA45A3;
    border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
    display: flex;
    align-items: flex-end;
}
.incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}
.incoming .details p{
    background: rgb(130, 220, 238);
    color: #6000F4;
    border-radius: 18px 18px 18px 0;
}
.chat-area .typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.typing-area input{
    height: 45px;
    width: calc(100% - 55px);
    font-size: 17px;
    border: 1px solid #FA45A3;
    padding: 0 13px;
    color: #FA45A3;
    background: #FFE3FB;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.typing-area button{
    width: 60px;
    outline: none;
    border: 1px solid #FA45A3;
    background: #FFE3FB;
    color: #FA45A3;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.users{
    padding: 25px 30px;
}
.users header, .users-list a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}
:is(.users, .users-list) .content{
    display: flex;
    align-items: center;
}
.users header .details{
    color: #000;
    margin-left: 15px;
}
.users-list .details{
    color: #FA45A3;
    margin-left: 15px;
}
.users header .content .details span{
    font-size: 30px;
}
.users-list .details span{
    font-size: 18px;
    font-weight: 500;
}
.users header .logout{
    color: #fff;
    font-size: 17px;
    padding: 7px 15px;
    background: #333;
    border-radius: 5px;
}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;  
}
.users-list{
    max-height: 350px;
    overflow-y: auto;
}
.users-list::-webkit-scrollbar{
    width: 0px;
}
.users-list a{
    margin-bottom: 15px;
    page-break-after: 10px;
    border-bottom-color: #f1f1f1;
    padding-right: 15px;
}
.users-list a .content p{
    color: #6000F4;
    font-size: small;
}
.users-list a .content img{
    height: 40px;
    width: 40px;
}